<h3>Activity</h3>
<table class="table">
	<% for item in @json['activity'] %>
	<% if item['type']=='earnedRent' %>
	<tr>
		<td>You <%= item['message'] -%></td>
		<td><%= item['dateStamp'] -%></td>
		<td></td>
		<td>+<%= df item['amount'] -%></td>
	</tr>
	<% end %>
	<% end %>
</table>
