<h3>Your Landlord</h3>

<table class="table">
	<tr>
		<td>Bank balance</td>
		<td><%= @json['bankBalance'] -%></td>
	</tr>
		<tr>
		<td>Coins balance</td>
		<td><%= @json['coinBalance'] -%></td>
	</tr>
</table>